@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 1rem;
  background-color: rgb(198, 152, 223);
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.title img {
  width: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

.navItems ul {
  display: flex;
  list-style: none;
  font-size: 30px;
}

ul li {
  margin-right: 30px;
  /* border: 1px solid black; */
  padding: 0.5rem;
  background-color: rgb(234, 178, 243);
  border-radius: 5px;
}

ul li:hover {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgb(223, 124, 238);
}
