@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: rgb(198, 152, 223);
}

/* Logo & Title */
.title {
  display: flex;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
}

.title img {
  width: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

/* Navigation */
.navItems ul {
  display: flex;
  list-style: none;
  font-size: 30px;
}

.navItems ul li {
  margin-left: 20px;
  padding: 0.5rem 1rem;
  background-color: rgb(234, 178, 243);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navItems ul li:hover {
  background-color: rgb(223, 124, 238);
}

/* Hero Section */
.heroSection {
  display: flex;
  width: calc(100% - 2rem);
  height: 80vh;
  margin: 0 1rem;
  gap: 1rem;
}

/* Left Panel */
.leftPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
}

.leftPanel img {
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
}

/* Right Panel */
.rightPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  text-align: center;
}

.rightPanel .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightPanel h2 {
  font-size: 3rem;
}

.rightPanel #name {
  font-size: 5rem;
  font-weight: bold;
}

.rightPanel p {
  font-size: 2rem;
}